<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My blog</h1>
    <p class="blog-post-meta">An example blog template</p>
    <%= link_to 'Write a new Blog', new_blog_path if logged_in?(:site_admin)%>
  </div>
</div>