<h1 class="cover-heading">About me.</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag 'https://cdn.techworld.com/cmsdata/slideshow/3627511/web_developer_zlomari_thumb800.jpg', width: 300, alt: 'Web developer' %>
  </div>
  <div class="col-md-8">
    <p class="lead">A software engineer with 20 years experience in developing software.</p>
  </div>
</div>
